@page "{id:int}"
@model TVReminder.Web.Pages.Channels.EditModel
@{
}


<div>
    <h2>Edit Channel</h2>

    <form method="post">
        @Html.HiddenFor(m=>m.Data.Id)
        @Html.DisplayFor(m => m.Data.Name)
        @Html.Input(m => m.Data.Name)
       
      
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>

    </form>

    @Model.Data.Id
    <hr />
    @if(Model.RandomNumber < 0)
    {
        <p>something wrong</p>
    }
    else
    {
        <p>ok - @Model.RandomNumber</p>
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}